# Ignore macOS system files
.DS_Store

# Ignore JetBrains IDE configuration folder (like PyCharm, WebStorm, etc.)
.idea/
__pycache__/
/__pycache__
__pycache__/TrainingEnvironment.cpython-312.pyc

# Ignore logs and pickles
/logs
/pickles
/images
/paper

